body
{
	width: 960px;
}
p
{
	text-align: justify;
}
#control
{
	float: right;
}
#carrusel
{
	overflow: hidden;
}
#slide
{
	display: inline-block;
	overflow: inherit;
}
.block
{
	padding: 1%;
	float:left;
	width:22%;
	height:60%;
}
.border
{
	border-right:1px solid grey;
}

.picture
{
	margin: 0 auto;
	width: 80%;
	height: 80%;
}

